body{
    margin: 0px;
    padding: 0px;
    background-color: #393E46;
    color: whitesmoke;

}

.navigation{
    margin: 0px;
    padding: 10px;
    background-color: #222831;
    color: darkblue;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
  
}
.navigation > a{
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
    
}

.user-logo {
    align-self: flex-start;
}

.user-logo>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    
}

.first-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px;

}

.card{
    width: 45%;

}
.card > img{
    width: 100%;
    border: 3px solid #2b2f35;
}
footer{
    background-color: #222831;
    padding: 0.1rem;
    text-align: end;
    clear: both;
}
footer > p{
    margin: 10px;
}